.hero {
    text-align: left;
    padding: 100px;
    color: #e7e9d4;
    margin-top: 2em;
}

.hero h1 {
    font-size: 3em;
}

.hero form {
    margin-top: 1em;
}

.hero input[type="text"] {
    padding: 0.8em;
    width: 20%;
    border: none;
    border-radius: 5px;
}

.hero button {
    width: 150px;
    padding: 10px;
}

/* Featured Vehicles */
.featured {
    text-align: center;
    padding: 4em 0;
    color: whitesmoke;
}

.vehicle-list {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.vehicle-card {
    background: #9e9b9b;
    padding: 1em;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vehicle-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vehicle-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.vehicle-card a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.vehicle-card a:hover {
    background: gainsboro;
    color: black;
}
